<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aaron Asibbey</title>
    <link rel="stylesheet" href="/website/CSS/main.css">


</head>

<body>

    </div>
    <div class="topnav">
        <a class="active" href="index.html">HOME</a>
        <a href="aboutus.html">Career Acheivments</a>
        <a href="services.html">Resume </a>
        
        <button class="button button1" >Contact Me</button>

    </div>


    <div class="homebox" style ="background-color: aliceblue;">
        

    </div>





</body>





    <script src="/website/website.js"></script>
    <noscript>You need to enable Javascript to view the full site</noscript>

</body>


</html>